.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 90px / 5);
  text-align: center;
  border: 1px solid #dee2e7;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.ProductCard:hover {
  transform: scale(1.05);
}

.ProductCardImage {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #dee2e7;
}
.ProductCard > span {
  margin: 10px 15px;
}
.ProductCard > h2 {
  margin: 5px 10px;
  font-size: 18px;
}
