.Locals {
  padding: 20px 0px;
}
.LocalsDirections {
  background-color: #dee2e7;
  display: flex;
  padding: 20px;
}
@media (max-width: 780px) {
  .LocalsDirections {
    flex-direction: column;
  }
}
